<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>245728029154-grqf925c4ic747s65ib2pp7vl4vn8l8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245728029154-grqf925c4ic747s65ib2pp7vl4vn8l8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDQLYDSNIq-WmR_YW-wSkqgi2ZBlF9_pmY</string>
	<key>GCM_SENDER_ID</key>
	<string>245728029154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ycbi.TakeMeToChurch</string>
	<key>PROJECT_ID</key>
	<string>take-me-to-church-2ff58</string>
	<key>STORAGE_BUCKET</key>
	<string>take-me-to-church-2ff58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245728029154:ios:b753853c4ef96697</string>
	<key>DATABASE_URL</key>
	<string>https://take-me-to-church-2ff58.firebaseio.com</string>
</dict>
</plist>